* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(./images/exemplo.jpg);
    opacity: 0.5;
} */

body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;  
}

#app {
    background-color: white;
    height: 100vh;
    margin: 3.5% 3.1% 0 4.3%;
    box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}